<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex justify-center items-center overflow-hidden h-screen w-100% bg-[#dadada]">


    <div id="container" class="flex items-center justify-center  h-[95%] w-[30%] rounded-[40px] bg-white relative">
        <span class="material-symbols-outlined absolute top-8 right-8 font-bold">
            close
        </span>

        <div id="content" class="flex flex-col items-center justify-center font-Montserrat ">


            <img class="w-16 mb-8 mt-0 "
                src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pinterest logo">

            <h2 class="text-3xl text-center font-extrabold	">Welcome to Pinterest</h2>

            <p class="text-sm text-center font-semibold leading-10 mb-8">Find new ideas to try</p>

            <form action="/login" method="post" class="flex flex-col  justify-center  h-full w-4/5 mb-3">

                <label class="ml-2 mb-1 text-left text-sm font-bold" for="username">Username</label>
                <input class="custom-input" type="text" placeholder="username" name="username">
                <label class="ml-2 mb-1 text-left text-sm font-bold" for="password">Password</label>
                <input class="custom-input" type="password" placeholder="Create a password" name="password">
                <input class="bg-[#D50C22] text-white font-bold py-3 px-2 rounded-3xl mt-8 " type="submit"
                    value="Login">
                <p class="text-center font-bold mt-1 mb-1">OR</p>
                <button class="flex gap-1 justify-center items-center bg-[#E3E3E3]  font-bold py-3 px-4 rounded-3xl "><img class="h-6"
                        src="https://cdn.imgbin.com/25/6/16/imgbin-google-logo-g-suite-google-google-logo-B9sKJuv25PmuQJUGyLWNUv81B.jpg"
                        alt="">Login with Google</button>
                <p class=" w-60 text-[0.65rem] text-center leading-5 mt-3">By continuing, you agree to Pinterest's <br>
                    <span class="font-bold">Terms of Service</span>
                    and acknowledge you've read <br> <span class="font-bold mb-4 inline-block">Privacy Policy. Notice at collection
                    </span> <br>
                    Not on Pinterest yet?
                    <a class="font-bold" href="/">Sign up</a>
                </p>
            </form>


        </div>
    </div>
</body>

</html>