<%- include('./partials/header.ejs') %>

  <div class="flex justify-center items-center overflow-hidden h-screen w-full bg-[#dadada]">
    <div id="container" class="flex items-center justify-center  h-[95%] w-[30%] rounded-[40px] bg-white relative">
      <span class=" absolute top-5 right-8 font-bold text-2xl">
        <i class="fa-solid fa-xmark"></i>
      </span>

      <div id="content" class="flex flex-col items-center justify-center font-Montserrat ">


        <img class="w-16 mb-6 mt-0 " src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png"
          alt="pinterest logo">

        <h2 class="text-3xl text-center font-extrabold	">Welcome to Pinterest</h2>

        <p class="text-sm text-center font-semibold leading-10 mb-2">Find new ideas to try</p>

        <form action="/register" method="post" class="flex flex-col  justify-center  h-full w-4/5 mb-3">

          <label class="ml-2 mb-1 text-left text-sm font-bold" for="email">Email</label>
          <input class="custom-input" type="email" placeholder="Email" name="email">
          <label class="ml-2 mb-1 text-left text-sm font-bold" for="fullname">Full Name</label>
          <input class="custom-input" type="text" placeholder="Full Name" name="fullname">
          <label class="ml-2 mb-1 text-left text-sm font-bold" for="username">Username</label>
          <input class="custom-input" type="text" placeholder="username" name="username">
          <label class="ml-2 mb-1 text-left text-sm font-bold" for="password">Password</label>
          <input class="custom-input" type="password" placeholder="Create a password" name="password">
          <input class="bg-[#D50C22] text-white font-bold py-3 px-4 rounded-3xl mt-5 " type="submit"
            value="Register Account">
          <p class="text-center font-bold">OR</p>
          <button class="flex gap-1 justify-center items-center bg-[#E3E3E3]  font-bold py-3 px-4 rounded-3xl "><img
              class="h-6"
              src="https://cdn.imgbin.com/25/6/16/imgbin-google-logo-g-suite-google-google-logo-B9sKJuv25PmuQJUGyLWNUv81B.jpg"
              alt="">Continue with Google</button>
          <p class=" w-full text-[0.65rem] text-center leading-4 mt-3">By continuing, you agree to Pinterest's <br>
            <span class="font-bold">Terms of Service</span>
            and acknowledge you've read <br> <span class="font-bold">Privacy Policy. Notice at collection </span> <br>
          <p class="leading-8 text-[0.75rem] text-center">Already a member?
            <a class="font-bold" href="/">Log in</a>
          </p>
          </p>
        </form>

      </div>
    </div>
  </div>
  <script>
    localStorage.clear();
  </script>
  <%- include('./partials/footer.ejs') %>